@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--primary-color: #00c80a;
	--secondary-color: #009e08;
	--light-gray: #a2a2a2;
	--green: #00c80a;
	--yellow: #ffe600;
	--red: #f20000;
}

body,
input,
button {
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
}

a {
	text-decoration: none;
}
