.controller {
	height: calc(100vh - 128px);
	margin: 64px 10%;
}

.title {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 32px;
	text-align: center;
	border-bottom: 2px solid var(--primary-color);
	margin-bottom: 64px;
	padding-bottom: 12px;
}

.label {
	padding-left: 4px;
	font-size: 16px;
	font-style: italic;
	color: var(--light-gray);
}

.input {
	width: 100%;
	border: none;
	border-bottom: 2px solid var(--light-gray);
	outline: none;
	font-size: 24px;
	color: var(--light-gray);
	transition: all 0.4s ease;
}

.input:focus {
	border-bottom: 2px solid var(--primary-color);
	color: var(--primary-color);
}

.button {
	border: none;
	margin: 32px 0;
	width: 100%;
	height: 64px;
	border-radius: 16px;
	background: var(--primary-color);
	color: #fff;
	font-weight: 600;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease;
}

.button:hover {
	border-radius: 32px;
	background: var(--secondary-color);
}

.button:disabled {
	border-radius: 0;
	background: var(--light-gray);
}

.checkbox-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 16px;
}

.checkbox-container .label {
	font-size: 18px;
	padding-left: 12px;
}

.checkbox-input {
	visibility: hidden;
	width: 0;
}

.checkbox {
	padding: 0;
	display: inline-block;
	height: 24px;
	width: 24px;
	border: 4px solid var(--light-gray);
	border-radius: 10px;
	transition: all 0.4s ease;
}

.checkbox-input:checked ~ .checkbox {
	width: 8px;
	height: 8px;
	border: 12px solid var(--primary-color);
}
