#stopwatch {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: calc(100vh - 64px);
	padding: 32px 0;
	background: #fff;
	transition: all 0.4s ease;
}

#stopwatch.green {
	background: var(--green);
}

#stopwatch.yellow {
	background: var(--yellow);
}

#stopwatch.red {
	background: var(--red);
}

#title {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	border-bottom: 2px solid var(--primary-color);
	width: 80%;
}

#stopwatch-id {
	color: var(--light-gray);
	font-size: 19px;
	font-style: italic;
}

#time {
	font-size: 156px;
	font-weight: 700;
	color: #fff;
}

#wave {
	font-size: 84px;
	font-weight: 500;
	color: #fff;
}
