---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/controller.css';
---

<BaseLayout>
	<div class='controller'>
		<h1 class='title'>Connecter une télécommande</h1>
		<div>
			<label for='stopwatch-id-input' class='label'>ID du chronomètre</label>
			<input type='text' id='stopwatch-id-input' class='input' autofocus />
		</div>
		<a href='#' id='connect-to-stopwatch' class='button'>Se connecter</a>
	</div>
</BaseLayout>

<script>
	const stopwatchIdInput = document.getElementById('stopwatch-id-input') as HTMLInputElement;
	const connectToStopwatchLink = document.getElementById(
		'connect-to-stopwatch'
	) as HTMLAnchorElement;

	stopwatchIdInput.addEventListener('input', () => {
		connectToStopwatchLink.href = `/controller/${stopwatchIdInput.value}`;
	});
</script>
