---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/home.css';
---

<BaseLayout>
	<div class='home'>
		<div class='title'>Archery Watch</div>
		<a href='/' class='button'>Chronomètre</a>
		<a href='/' class='button'>Télécommande</a>
	</div>
</BaseLayout>
