---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/stopwatch.css';
---

<BaseLayout>
	<h1>Chronomètre</h1>
	<div id='time'>---</div>
	<div id='wave'>---</div>
</BaseLayout>

<script>
	import { io } from 'socket.io-client';

	function startStopwatch(time: number, twoWaves: boolean): void {
		waveDiv.innerText = twoWaves ? startingWave : '-';
		isTwoWaves = twoWaves;

		countdownTime = time;
		countdown('time', countdownTime);
	}

	function stopStopwatch(): void {
		if (isTwoWaves) {
			startStopwatch(countdownTime, false);
			waveDiv.innerText = startingWave === 'AB' ? 'CD' : 'AB';
			startingWave = startingWave === 'AB' ? 'CD' : 'AB';
			socket.emit('stopwatch-stopped', stopwatchId, true);
		} else {
			clearInterval(intervalID);
			waveDiv.innerText = '---';
			timeDiv.innerText = '---';
			socket.emit('stopwatch-stopped', stopwatchId, false);
		}
	}

	function countdown(id: string, start: number): void {
		clearInterval(intervalID);

		const counter = document.getElementById(id) as HTMLDivElement;
		let count: number = start;
		counter.innerText = String(count);

		intervalID = setInterval(() => {
			count -= 1;
			counter.innerText = String(count);
			if (count === 0) {
				stopStopwatch();
			}
		}, 1000);
	}

	const waveDiv = document.getElementById('wave') as HTMLDivElement;
	const timeDiv = document.getElementById('time') as HTMLDivElement;

	const socket = io(import.meta.env.PUBLIC_WEBSOCKET_SERVER);
	const stopwatchId = 'stopwatch-1234'; // PLACEHOLDER
	let isTwoWaves: boolean = false;
	let countdownTime: number;
	let intervalID: number;
	let startingWave: 'AB' | 'CD' = 'AB';

	socket.emit('stopwatch-connected');

	socket.on('start-stopwatch', (startingStopwatchId: string, twoWaves: boolean, time: number) => {
		if (startingStopwatchId === stopwatchId) {
			startStopwatch(time, twoWaves);
			socket.emit('stopwatch-started', stopwatchId);
		}
	});

	socket.on('stop-stopwatch', (stoppingStopwatchId: string) => {
		if (stoppingStopwatchId === stopwatchId) {
			stopStopwatch();
		}
	});
</script>
